body {
     text-align: center;
     background-color: rgb(34, 181, 230);
}
.capa {
      width: 100%
}


.beneficios {
text-align: left;
background-color: rgb(0, 89, 255)
}

ul{
      display: inline-block;
      vertical-align: top;
      margin-right:  200px;
}
li{ 
      padding: 20px;
      font-size: 18px;
}
.foto-beneficios {
      width: 35%;
}